#preloader {
    width: 100vw;
    height: 100vh;
    position: fixed;
    background-color: #000000;
    transition: all 3s ease;
    z-index: 10000;
    padding: 0; /* Remueve el padding para evitar espacios no deseados */
}

.contieneloader {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    display: flex;
    align-items: center;
    justify-content: center;
}

/*.loader {
    background-image: url("/public/Imagenes/logoO.jpeg");
    width: 100%;
    height: 100%;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}*/


/* Estilos para ocultar el preloader cuando tenga la clase 'hidden' */
#preloader.hidden {
    opacity: 0;
    visibility: hidden;
    transition: opacity 0.5s ease-out, visibility 0.5s ease-out;
}